.battle-arena {
  width: 880px;
  height: 500px;
  padding: 50px;
  border: 1px solid rgb(21, 24, 24);
  display: flex;
  flex-direction: column; /*our divs are sorted vertically*/
  justify-content: space-between; /*This pushes the two pokemon divs apart evenly */
  box-sizing: border-box;
  margin: 0 auto; /* centers the arena*/
}

.health-bars-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.pokemon-health-display {
  display: flex;
  flex-direction: column; /* stack names and health bars vertically*/
  width: 40%;
  text-align: center;
  margin: 5px;
}

/* Second row: Pokemon Images */
.pokemon-images-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /*move pokemon to the top of thier flex row*/
  flex-grow: 1;
}

/* displays a fliped view of player1's pokemon */
.player1-active-pokemon {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  max-width: 50%;
  max-height: 50%;
}
.player2-active-pokemon {
  max-width: 50%;
  max-height: 50%;
}

.pokemon1-move {
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.party-icon {
  width: 20px;
  height: 20px;
}
