body {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: #fff;
}

#background-blur {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;

  background: url('../dataFiles/images/background2.jpg') no-repeat; /* made a change to file path*/
  background-size: cover;
  filter: blur(3px);

  animation: slow-pan 30s linear infinite;
  transform-origin: center center;
}

#start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#logo {
  width: 652px;
  height: 200px;
  max-width: 80%;
  margin-bottom: 5px; 
}

h1 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px; 
  color: #ffcb05;
  text-shadow: 2px 2px #3b4cca;
}


#button-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

button {
  background-color: #ffcb05;
  color: #3b4cca;
  border: 3px solid #3b4cca;
  padding: 15px 30px;
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
  cursor: pointer;
  border-radius: 12px;
  transition: 0.3s;
  width: 220px;
}

button:hover {
  background-color: #3b4cca;
  color: #fff;
  transform: scale(1.1);
  box-shadow: 0 0 12px #fff;
}

@keyframes slow-pan {
	0% { transform: translate(0, 0) scale(1); }
    50% { transform: translate(-5%, -5%) scale(1.1); }
    100% { transform: translate(0, 0) scale(1); }
}