.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-style: ridge;
    border-color: black;
    background: #d0d0d0;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
}

.team {
    display: flex;
    flex-direction: row;
    width: 454px;
}

.pokemon-buttons {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 20px 150px 20px 150px;
    gap: 2px;
    text-align: center;
}

.pokemon-buttons button {
    display: table-cell;
    background-size: 150px;
    cursor: pointer;
    border-style: ridge;
    border-color: black;
    border-radius: 5px;
}

#nameTxt {
    font-weight: bold;
    float: left;
}

#typeIcons {
    float: right;
}

.current-pokemon {
    justify-content: center;
    text-align: center;
}

.active-pokemon {
    width: 350px;
    width: 350px;
    border-style: ridge;
    border-color: black;
    border-radius: 10px;
}

.curr-name-type {
    justify-content: space-between;
    text-align: unset;
}

table.attr-table {
    width: 454px;
    border: 1px solid black;
}

table.attr-table thead,
table.attr-table tbody {
    align-content: center;
}

table.attr-table th,
table.attr-table td {
    text-align: center;
    border: 1px solid black;
}

.moves-selection {
    text-align: center;
}

.moves-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
    text-align: center;
}

table.moves-table {
    border: 1px solid black;
}

table.moves-table thead,
table.moves-table tbody {
    align-content: center;
}

table.moves-table th,
table.moves-table td {
    text-align: center;
    border: 1px solid black;
}