.team {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pokemon-buttons {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 20px 150px 20px 150px;
    gap: 0px 5px;
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
    border: 5px ridge black;
}

.pokemon-buttons button {
    display: table-cell;
    background-size: 150px;
    cursor: pointer;
    border: 3px solid black;
}

#nameTxt {
    font-weight: bold;
    float: left;
}

#typeIcons {
    float: right;
}

.current-pokemon {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.active-pokemon {
    height: 350px;
    width: 350px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.curr-name-type {
    display: flex;
    justify-content: space-between;
    width: 455px
}

table.attr-table {
    width: 455px;
    border: 1px solid black;
}

table.attr-table thead,
table.attr-table tbody {
    align-content: center;
}

table.attr-table th,
table.attr-table td {
    text-align: center;
    border: 1px solid black;
}

.moves-selection {
    text-align: center;
}

.moves-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
    text-align: center;
}

table.moves-table {
    border: 1px solid black;
}

table.moves-table thead,
table.moves-table tbody {
    align-content: center;
}

table.moves-table th,
table.moves-table td {
    text-align: center;
    border: 1px solid black;
}

.top-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}