.team {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pokemon-buttons {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 20px 150px 30px 150px;
    gap: 0px 5px;
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
    border: 5px ridge black;
    font-size: 13px;
}

.pokemon-buttons button {
    display: table-cell;
    background-size: 150px;
    cursor: pointer;
    border: 3px solid black;
}

#nameTxt {
    font-weight: bold;
    float: left;
}

#typeIcons {
    float: right;
}

.current-pokemon {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: antiquewhite;
    padding: 10px;
    border: 5px ridge black;
    padding-bottom: 0px;
}

.active-pokemon {
    height: 350px;
    width: 350px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.curr-name-type {
    display: flex;
    justify-content: space-between;
    width: 455px;
    height: 25px;
    padding-top: 5px;
}

table.attr-table {
    width: 455px;
    line-height: 20px;
    border: 1px solid black;
    font-size: 12px;
}

table.attr-table thead,
table.attr-table tbody {
    align-content: center;
}

table.attr-table th,
table.attr-table td {
    text-align: center;
    border: 1px solid black;
    padding: 100px, 100px;
    margin: 100px, 100px;
}

.moves-selection {
    text-align: center;
    margin-top: 10px;
}

.moves-input {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
    text-align: center;
    justify-content: center;
}

.moves-input select {
    background-color: #ffcb05;
    color: #3b4cca;
    border: 3px solid #3b4cca;
    padding: 10px;
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    border-radius: 12px;
    padding-top: 5px;
    height: 40px;
}

.moves-data {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

table.moves-table {
    width: 90%;
    border: 1px solid black;
}

table.moves-table thead,
table.moves-table tbody {
    align-content: center;
}

table.moves-table th,
table.moves-table td {
    text-align: center;
    border: 1px solid black;
}

.top-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.middle-text{
    padding-top: 10px;
}